[Unit]
Description=Checklist Web Service
After=network.target

[Service]
User=%USERNAME%
ExecStart=%DEPLOY% %ENVIRONMENT_PATH%
WorkingDirectory=%RUNTIME_DIR%
Restart=no
ExecStop=%CLEAN% %ENVIRONMENT_PATH%
ExecReload=%CLEAN% %ENVIRONMENT_PATH% && %DEPLOY% %ENVIRONMENT_PATH%

[Install]
WantedBy=multi-user.target
