<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Medalles</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='badges.css') }}">
  
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="case">

    <!-- Trainer -->
    <div class="trainer">
      <div class="pokeball"></div>
      <div>
        <span>Badge Case</span>
        <h1>{{ name }}</h1>
      </div>
    </div>

    <!-- Badge Holder -->
    <div class="badge-case">
      <div class="badge-title">
        <h2>Gym Badges</h2>
      </div>

      <div class="slots">
        <div class="slot gold">
          <img src="{{ url_for('static', filename='badges/badge_dns.png') }}">
          <div class="slot-label">DNS</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_mail.png') }}">
          <div class="slot-label">Mail</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_wordpress.png') }}">
          <div class="slot-label">WordPress</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_web.png') }}">
          <div class="slot-label">Web</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_python.png') }}">
          <div class="slot-label">Python</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_scripting.png') }}">
          <div class="slot-label">Scripting</div>
        </div>

        <div class="slot">
          <img src="{{ url_for('static', filename='badges/badge_backups.png') }}">
          <div class="slot-label">Backups</div>
        </div>

        <div class="slot">
          <div class="slot-label">Next Badge</div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
