<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Galardons Grup {{number}}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='badges.css') }}">  
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="case">
    <div class="header">
        <h1>Galardons del projecte - Grup {{ number }}</h1>
        <a href="/" class="back-link">← Panell central</a>
        <a href="/group{{ number }}" class="back-link">← Tasques</a>
    </div>

    <!-- Trainer -->
    <div class="trainer">
      <div class="icon"><img src="{{ url_for('static', filename='icon_case.png') }}"></div>
      <div>
        <h1 class="members">GALARDONS GRUP {{ number }}: {% for integrante in integrantes %} <span class="member">{{integrante}}</span> {% endfor %}</h1>
      </div>
    </div>

    <!-- Badge Holder -->
    <div class="badge-case">
      <div class="badge-title">
        <h2>GALARDONS DEL PROJECTE</h2>
      </div>

        <div class="slots">
        {% for med in medallas %}
            <div class="slot {% if med.shadow %}shadow {% endif %} " id="{{med.id}}">
                <img src="{{ med.source }}" alt="Galardo per {{med.title}}">
                <div class="slot-label">{{ med.title }}</div>
            </div>
        {% endfor %}
        </div>
    
    </div>

  </div>
</body>
<footer>
{% if demosDone %}
    <script src="{{ url_for('static', filename='badges.js') }}"></script>
{% endif %}
</footer>
</html>
