<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='checklist.css') }}">
    <meta charset="UTF-8">
    <title>Checklist Grup {{ number }}</title>
</head>
<body>
<div class="container">
    

    <h1>Grup {{ number }} Taulell</h1>

        <div class="header">
            <a href="/" class="back-link">← Back to Dashboard</a>
    {% if tieneMedallas %}
            <div>
                <button class="btn btn-medallas" onclick="location.href='/group{{number}}/badges'">Galardons</a>
            </div>
   {% endif %}
            <div>
                <button class="btn btn-task-hide" onclick="hideDone()">Amaga FETES</button>
            </div>

        </div>
    <nav id="menu">
       <ul>
        <!-- Filled programatically via fillMenuTasks()--> 
        </ul>
    </nav>

    {% if next_update %}
        <div id="next-update">Próxima actualització dintre de <time>{{next_update}}</time></div>
    {% endif %}
    {% if allTasks %}

        <form id="form-tasks">
            {% for zone in allTasks.zones %}
            <div class="zone-card in-menu automatic" id="{{ zone.id }}">
                <div class="zone-header">
                    <h2 class="card-title">{{ zone.title }}</h2>
                    <div class="health-bar">
                        <div class="bar__fill"></div>
                    </div>
                </div>
                <ul class="tasks">
                {% for task in zone.tasks %}
                    <li class="task-card {% if task.status == 'OK' %}task-done{% elif task.status == 'Pending' %}task-pending{% endif %}">
                        <span class="task-name">{{ task.tarea }}</span>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </form>

    {% else %}
        <p style="color:red; text-align:center;">Error loading Script data.</p>
    {% endif %}

    {% if demo %}
	<form id="form-demo">
            <div class="zone-card" id="automatic-demo">
                <div class="zone-header">
                    <h2 class="card-title">Demostracions Totals</h2>
                    <div class="health-bar">
                        <div class="bar__fill"></div>
                    </div>
                </div>
            </div>
        </form>

        <form>
            <div class="zone-card in-menu" id="demo-done">
                <div class="zone-header">   
                    <h2 class="card-title">Demostracions Realitzades</h2>
                </div>
                    <ul class="tasks">
                      {% for pdemo in demo.done_demos %}
                                <li class="task-card task-done">
                                    <span class="task-name">{{ pdemo }}</span>
                                </li>
                      {% endfor %}
                    </ul>
            </div>
        </form>
        <form>
            <div class="zone-card in-menu"  id="demo-pending">
                <div class="zone-header">   
                    <h2 class="card-title">Demostracions Pendents</h2>
                </div>
                <ul class="tasks">
                  {% for ddemo in demo.pending_demos %}
                            <li class="task-card task-pending">
                                <span class="task-name">{{ ddemo }}</span>
                            </li>
                  {% endfor %}
                </ul>
            </div>
        </form>
    {% else %}
        <p style="color:red; text-align:center;">Error loading Demostration data.</p>
    {% endif %}



</div>
<script src="{{ url_for('static', filename='checklist.js') }}"></script>
</body>
</html>
