<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <meta charset="UTF-8">
    <title>Projecte SMX2</title>
</head>
<body>

    <h1>Projecte SMX2  -  1713</h1>

    <div class="grid-container">
        {% for group in groups %}
        <a href="/group{{ group }}" class="card">
            <h2>Grup {{ group }}</h2>
            <p>Mirar tasques</p>
        </a>
        {% endfor %}
     
        <a class="card big demoTasques" href="https://docs.google.com/spreadsheets/d/1cma0J7eTugMeRtG8VCHbYiHb5RlJ6TLK_SPYUoxfDFA/edit?usp=sharing">
            <h2>Demostració<br>Tasques</h2>
        </a>
       <a href="/leaderboard" class="card big ranking"><h2>Ranking</h2></a>
    </div>
</body>
</html>
